$first-color: rgb(193, 232, 255);
$second-color: rgb(255, 85, 85);
$thirth-color: rgb(198, 46, 46);
$fourth-color: rgb(66, 66, 66);
$first-title: rgb(198, 46, 46);
$second-title: rgb(13, 146, 244);
$first-footer: rgb(37, 43, 72);
$second-footer: rgb(68, 80, 105);

// rick
