$first-color: rgb(245, 245, 245);
$second-color: rgb(72, 207, 203);
$thirth-color: rgb(34, 151, 153);
$fourth-color: rgb(66, 66, 66);
$title: rgb(217, 22, 86);
$first-footer: rgb(37, 43, 72);
$second-footer: rgb(68, 80, 105);
